<div class="product-dialog">

    <div class="close-btn-outer">
      <button mat-mini-fab color="warn" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
    <div mat-dialog-content>
      <div fxLayout="row wrap" >
          <div>
              <div class="swiper-container h-100">
                  <div class="swiper-wrapper">
                    <img [src]="'http://51.89.97.33:5500/'+product.images[0]" alt="">
                  </div>

              </div>
          </div>

      </div>
    </div>

    </div>
