<!--<footer class="footer sec-padding">
  <div class="container">
      <div class="footer-wrapper" fxLayout="row wrap" fxLayoutAlign="space-between start">
        <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="50" class="footer-widget about-widget"><a class="logo" href="index.html"><img src="assets//images/logo.png" style="width: 100px;height: 60px;" alt="Miagbo"></a>
          <p>Plate-forme de vente en ligne la première au togo.</p>
          <div class="link"><a href="#">PLUS SUR NOUS</a> </div>
        </div>

          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget links-widget links-widget-pac">
            <div class="title">
              <h5>Services</h5>
            </div>
            <div class="row">
                <ul>
                  <li><a href="#">Achat</a></li>
                  <li><a href="#">Livraison</a></li>

                </ul>
            </div>
          </div>


        <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
          <div class="title">
            <h5>Subscribe Newsletter</h5>
          </div>
          <form action="#">
            <p>Get latest updates and offers.</p>
            <div fxLayout="column" class="newsletter-widget">
              <input type="text" placeholder="Enter your email address">
              <button type="submit" class="ped-btn-footer" ><span style="color:yellow;">INSCRIVEZ-NOUS</span></button>
            </div>
          </form>
        </div>


          <div fxFlex="100" fxFlex.gt-sm="23" fxFlex.sm="50" ngClass.sm="mt-2" ngClass.xs="mt-2" class="footer-widget subscribe-widget">
            <div class="title">
              <h5>Contact Us</h5>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-map-marker"></i></div>
              <div class="text">
                <p>Lomé BD: 13 janvier </p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-phone"></i></div>
              <div class="text">
                <p>(228) 90 26 87 96 / 96 22 23 14</p>
              </div>
            </div>
            <div fxLayout="row" class="tel-box">
              <div class="icon"><i class="fa fa-envelope"></i></div>
              <div class="text">
                <p><a href="#">info@miagbo.com</a></p>
              </div>
            </div>

            <ul fxLayout="row" class="social list-inline">
              <li><a href="https://www.facebook.com/miagbo/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://twitter.com/miagbo"><i class="fa fa-twitter"></i></a></li>


            </ul>
          </div>






      </div>
  </div>
</footer>-->

<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-3">
        <div class="footer__buy">
          <h3>Acheter sur Miagbo</h3>
          <a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
          <a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
          <a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-3">
        <div class="footer__sell">
          <h3>Vendre sur Miagbo</h3>
          <a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
          <a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
          <a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <div class="footer__buy">
          <h3>Conditions d'utilisation</h3>
          <a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
          <a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
          <a href="#"><p>Lorem ipsum dolor sit amet.</p></a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-xl-3">
        <h3>Paiements sécurisés</h3>
        <div class="footer__payments">
          <img src="assets//images//paymentMethod/flooz2.jpg" alt="">
          <img src="assets//images//paymentMethod/t-money.png" alt="">
          <img src="assets//images//paymentMethod/visa.png" alt="">
        </div>
      </div>
    </div>

  </div>
</div>