<div class="categories-section sec-padding" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="start start"  class="p-0">
    <div fxFlex="100" fxFlex.gt-sm="50" class="left-section">
        <div class="item mb-15" >
          <div class="product">
            <img src="assets/images/category1.png" alt="">
          </div>
          <div class="product-info">
              <h4><a href="">Emergency & Exit Lights  </a></h4>
            <ul>

                <li><a href="">Central Battery Systems</a> </li>
                <li><a href="">Central Monitoring Systems</a> </li>
                    <li><a href="">Emergency Lights</a> </li>
                        <li><a href="">Exit Lights</a> </li>
                            <li><a href="">LED Emergency Lights</a> </li>
                                <li><a href="">LED Exit Lights</a> </li>
            </ul>
          </div>
        </div>
        <div class="banerCo" fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div class="item mr-7 h" >
                <div class="product">
                    <img src="assets/images/category2.png" alt="">
                  </div>
                  <div class="product-info">
                      <h4><a href="">Emergency & Exit Lights </a></h4>
                    <ul>
                        <li><a href=""> Fluorescent Battery Kits</a> </li>
                            <li><a href=""> LED Battery Kits</a> </li>
                    </ul>
                  </div>
            </div>
            <div class="item ml-7 h" >
                <div class="product">
                    <img src="assets/images/category3.png" alt="">
                  </div>
                  <div class="product-info">
                    <h4><a href="">LED Drivers
                      </a></h4>
                    <ul>
                        <li><a href=""> Constant Current</a> </li>
                            <li><a href=""> Constant Voltage</a> </li>
                    </ul>
                  </div>
            </div>
        </div>
    </div>



</div>
